.footerContainer{

    width: 100%;
    height: 60px;
    margin-top: 20px;
    background: linear-gradient(to right,#141e30 , #243b55);
    position: relative;
    top: 1vh;
    bottom: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
}