.upComingFreeGame{
    padding:30px;
}
.gameContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    position:relative;
    margin: 30px 15px 40px 15px;
    height: 420px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px black;
    overflow: hidden;
}

.details{
    opacity: 0;
    position:absolute;
    bottom:0;
    padding: 10px;
    color: white;
    width: 100%;
    text-align: center;
}

.imgCard{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.card:hover .imgCard{
    transform: scale(1.5);
    transition: 0.5s all ease-in-out;
}

.card:hover > .details{
    opacity: 1;
    transition: 0.5s all ease-in-out;
}

.details #name{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.details #publisher{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}